// Text colors
$primaryColor: #555555;
$secondaryColor: rgb(250, 250, 250);

// Background colors
$primaryBgColor: #fafafa;
$secondaryBgColor: #2a7cdaa2;
$thirdBgColor: #525252;

// Color opacity
$primaryColorOpacity: rgba(250, 250, 250, 0.7);
$secondaryBgColorOpacity: rgba(92, 126, 150, 0.6);
$secondaryBgColorOpacityDarker: rgba(150, 120, 92, 0.8);

// Text shadow
$primaryTextShadowColor: #383838;
