@use "../components/" as c;

.home {
  background-color: rgba(250, 250, 250, 0.4);
  background-image: url(/src/assets/img/home-background-img-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  @include c.small {
    background-image: url(/src/assets/img/home-background-img-desktop.jpg);
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: start;
    @include c.small {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__img-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100vw;
      &__img {
        background-position: center;
        background-size: cover;
        height: 467px;
        width: 380px;
        border-radius: 50%;
        margin-top: 15px;
        box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
          0px 10px 5px rgba(151, 149, 149, 0.1);
        @include c.small {
          margin: 30px 60px;
        }
    
        /* Lägg till dessa rader för att lägga till en zoom-in-animation */
        animation: zoomIn 1s ease-out;
        @keyframes zoomIn {
          0% {
            transform: scale(0.5);
            opacity: 0;
          }
          100% {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
    

    &__name-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 35px 15px;
      font-family: c.$titleFont;
      @include c.medium {
        width: 70%;
      }
      @include c.large {
        width: 60%;
      }

      div {
        font-size: 35px;
        font-weight: 300;
        text-shadow: 2px 2px 4px #bfbdbd;
        color: c.$primaryColor;
        &:nth-child(7) {
          border-right: 3px solid c.$primaryColor;
          text-shadow: 2px 2px 4px #7e7e7e;
        }
        @include c.medium {
          font-size: 48px;
          font-weight: 400;
        }
      }
      div:nth-child(1) {
        animation: myAnimation 0.6s forwards;
      }
      div:nth-child(2) {
        animation: myAnimation 0.8s forwards;
      }

      div:nth-child(3) {
        animation: myAnimation 1s forwards;
      }

      div:nth-child(4) {
        animation: myAnimation 1.2s forwards;
      }

      div:nth-child(5) {
        animation: myAnimation 1.4s forwards;
      }

      div:nth-child(6) {
        animation: myAnimation 1.6s forwards;
      }

      div:nth-child(7) {
        animation: myAnimation 1.8s forwards;
      }

      div:nth-child(8) {
        animation: myAnimation 2s forwards;
      }

      div:nth-child(9) {
        animation: myAnimation 2.2s forwards;
      }

      div:nth-child(10) {
        animation: myAnimation 2.4s forwards;
      }

      div:nth-child(11) {
        animation: myAnimation 2.6s forwards;
      }

      div:nth-child(12) {
        animation: myAnimation 2.8s forwards;
      }

      div:nth-child(13) {
        animation: myAnimation 3s forwards;
      }

      @keyframes myAnimation {
        0% {
          transform: rotatey(0deg);
        }

        100% {
          transform: rotatey(360deg);
        }
      }
    }
    &__info-container {
      @include c.small {
        margin-top: 100px;
      }
      &__info-title {
        font-size: 25px;
        font-weight: 500;
        font-family: c.$titleFont;
        margin-left: 20px;
        @include c.small {
          text-align: start;
          margin-left: 10px;
          animation: article-load 300ms ease-in var(--article-load-delay);
          animation-fill-mode: forwards;
          transform: translateY(-20px);
          opacity: 0;
          @keyframes article-load {
            0% {
              transform: translateY(-20px);
              opacity: 0;
            }

            100% {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
        &--logo {
          color: c.$secondaryBgColor;
          margin-right: 5px;
        }
      }
      &__info-text {
        padding: 0px 15px;
        font-size: 18px;
        margin: 20px 10px;
        font-weight: 400;
        @include c.small {
          padding-left: 0;
          animation: article-load 300ms ease-in
            calc(var(--article-load-delay) + 200ms);
          animation-fill-mode: forwards;
          transform: translateY(-20px);
          opacity: 0;
        }
        @include c.medium {
          width: 80%;
          margin: 15px;
          font-size: 21px;
        }
        @include c.large {
          width: 65%;
        }
        &__contact-link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
